## Preprocessing

In [111]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [112]:
# Drop the non-beneficial ID column 'EIN'.
application_df.drop(columns=['EIN'], inplace=True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [113]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
unique_counts

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [114]:
application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NAME                    34299 non-null  object
 1   APPLICATION_TYPE        34299 non-null  object
 2   AFFILIATION             34299 non-null  object
 3   CLASSIFICATION          34299 non-null  object
 4   USE_CASE                34299 non-null  object
 5   ORGANIZATION            34299 non-null  object
 6   STATUS                  34299 non-null  int64
 7   INCOME_AMT              34299 non-null  object
 8   SPECIAL_CONSIDERATIONS  34299 non-null  object
 9   ASK_AMT                 34299 non-null  int64
 10  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(8)
memory usage: 2.9+ MB

In [115]:
# unique_counts of 'Name', 'APPLICATION_TYPE', 'CLASSIFICATION' and 'ASK_AMT' > 10, but type of 'ASK_AMT' is int64 (not categorical column) =>
# => no need of binning

In [116]:
# Look at NAME value counts for binning
value_counts_Name = application_df['NAME'].value_counts()
value_counts_Name.head(200)

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
AMERICAN POSTAL WORKERS UNION                        11
NATIONAL COUNCIL FOR GEOCOSMIC RESEARCH INC          11
PEARLAND LADY OILER GOLF BOOSTER CLUB                11
FINANCIAL PLANNING ASSOCIATION                       11
USA SWIMMING INC                                     11
Name: NAME, Length: 200, dtype: int64

In [117]:
# Choose a cutoff value and create a list of names to be replaced
# use the variable name `name_to_replace`
name_to_replace = list(value_counts_Name[value_counts_Name<10].index)

# Replace in dataframe
for app in name_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [118]:
# Look at APPLICATION_TYPE value counts for binning
value_counts_APPLICATION_TYPE = application_df['APPLICATION_TYPE'].value_counts()
value_counts_APPLICATION_TYPE

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [119]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(value_counts_APPLICATION_TYPE[value_counts_APPLICATION_TYPE<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [120]:
# Look at CLASSIFICATION value counts for binning
value_counts_CLASSIFICATION = application_df['CLASSIFICATION'].value_counts()
value_counts_CLASSIFICATION

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [121]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classification_more_than_one = application_df['CLASSIFICATION'].value_counts() > 1
CLASS_count_more_one = value_counts_CLASSIFICATION[value_counts_CLASSIFICATION>1]
CLASS_count_more_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [122]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(value_counts_CLASSIFICATION[value_counts_CLASSIFICATION<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [123]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [124]:
col = application_df.columns
len(col)

267

In [125]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop(columns = ['IS_SUCCESSFUL'], axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [126]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [127]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_inp_features = len(X_train_scaled[0])
nodes_first_layer = 96
nodes_second_layer = 50
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_first_layer, activation="relu", input_dim=num_inp_features))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_second_layer, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))


# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_23 (Dense)            (None, 96)                25632

 dense_24 (Dense)            (None, 50)                4850

 dense_25 (Dense)            (None, 1)                 51

=================================================================
Total params: 30,533
Trainable params: 30,533
Non-trainable params: 0
_________________________________________________________________

In [128]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [129]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4740 - accuracy: 0.7729
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4455 - accuracy: 0.7846
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4415 - accuracy: 0.7863
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4399 - accuracy: 0.7856
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4374 - accuracy: 0.7881
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4368 - accuracy: 0.7888
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4349 - accuracy: 0.7902
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4340 - accuracy: 0.7906
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4333 - accuracy: 0.7898
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7911
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4322 - accuracy: 0.7915
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4315 - accuracy: 0.7918
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7927
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4302 - accuracy: 0.7931
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7927
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.7930
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7932
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7940
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4277 - accuracy: 0.7938
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7945
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4266 - accuracy: 0.7941
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4265 - accuracy: 0.7948
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4263 - accuracy: 0.7934
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7943
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4252 - accuracy: 0.7956
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7951
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4250 - accuracy: 0.7956
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4245 - accuracy: 0.7954
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7964
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4238 - accuracy: 0.7958
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4229 - accuracy: 0.7964
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4232 - accuracy: 0.7959
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4228 - accuracy: 0.7966
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7963
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4225 - accuracy: 0.7966
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4220 - accuracy: 0.7970
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7966
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4214 - accuracy: 0.7972
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7961
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7965
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7974
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4208 - accuracy: 0.7971
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7970
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7969
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4205 - accuracy: 0.7964
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4201 - accuracy: 0.7980
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7966
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.7981
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4197 - accuracy: 0.7976
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4190 - accuracy: 0.7978
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7979
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7972
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7976
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7980
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7979
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4186 - accuracy: 0.7973
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4188 - accuracy: 0.7980
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4181 - accuracy: 0.7985
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4183 - accuracy: 0.7984
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7982
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7985
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7981
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4168 - accuracy: 0.7976
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7986
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4175 - accuracy: 0.7982
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7988
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7989
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7994
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7988
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4166 - accuracy: 0.7992
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4163 - accuracy: 0.7988
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.7987
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7986
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4165 - accuracy: 0.7990
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4164 - accuracy: 0.7989
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7986
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4160 - accuracy: 0.7989
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4165 - accuracy: 0.7992
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7991
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4162 - accuracy: 0.7986
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7989
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4151 - accuracy: 0.7991
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7992
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4155 - accuracy: 0.7990
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4151 - accuracy: 0.7991
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7987
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4158 - accuracy: 0.7987
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4155 - accuracy: 0.7989
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.8000
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7984
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4154 - accuracy: 0.7987
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4149 - accuracy: 0.7998
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4157 - accuracy: 0.7988
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4153 - accuracy: 0.7995
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7996
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.7982
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4144 - accuracy: 0.7990
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4150 - accuracy: 0.7991
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4141 - accuracy: 0.7989
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4149 - accuracy: 0.7993

In [130]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4779 - accuracy: 0.7848 - 448ms/epoch - 2ms/step
Loss: 0.4779176712036133, Accuracy: 0.7848396301269531

In [131]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_best.h5")
from google.colab import files
files.download("AlphabetSoupCharity_Optimization_best.h5")